<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student MarkList</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table {
	border-collapse: collapse;
	width: 100%;
	color: white;
}

td, th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 8px;
}

tr {
	background-color: #00BFFF;
}

/* th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #6a5acd;
}
 */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #e9e9e9;
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #6a5acd;
	color: black;
}

.topnav a.active {
	background-color: #2196F3;
	color: white;
}

.topnav .search-container {
	float: right;
}

.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}

.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .search-container button:hover {
	background: #ccc;
}

@media screen and (max-width: 600px) {
	.topnav .search-container {
		float: none;
	}
	.topnav a, .topnav input[type=text], .topnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.topnav input[type=text] {
		border: 1px solid #ccc;
	}
}
</style>
</head>
<body>
	<div class="topnav">
		<p align="center">
			<b>Certificate Maintenance System</b>
		</p>
		<a href="home">Home</a>
		<a href="uploaddata">Upload Data</a> <a href="departments">MarkList</a>
		<a href="certificatestatus">Certificate Status</a> <a
			href="semestermarklist">SemesterWise MarkList</a> 
			<a href="feedback">Help</a>
		<div align="right">
			<a th:href="@{/home}">Go Back</a>
		</div>

	</div>

	<table>
		<thead>
			<tr>
				<th>Regno</th>
				<th>Name</th>
				<th>Month/Year</th>
				<th>MarkSheet</th>


			</tr>
		</thead>

		<tbody>
			<tr th:each="b:${list}">
				<td th:text="${b.regNo}"></td>
				<td th:text="${b.name}"></td>
				<td th:text="${b.monthAndYear2}"></td>
				<td th:text="${b.markSheet2}"></td>


			</tr>
		</tbody>
	</table>
</body>
</html>